.speech {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 14;
    color: black;
}
.stage-direction:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    background-color: lightblue;
}
.name {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14;
    color:black;
}
.GUIDO{
    color:chocolate;

}
.ASCANIO{
    color:aqua;
}

